<!-- 네비게이션바 -->
{% load static %}
<div class="navigation">
    <img src="/static/img/img.jpg" alt="아콩" height="100"/>
    &nbsp;&nbsp;
    <span>
        <a href="{% url 'home:mainpage' %}">HOME</a>
    </span>

    {% if user.is_authenticated %}
    &nbsp;&nbsp;
    <a href="{% url 'users:logout' %}"> {{ user.username }}님 로그아웃</a>
    &nbsp;&nbsp;
    <a href="{% url 'users:profile' user.pk %}"> {{ user.username }} MY PAGE</a>
    {% else %}
    &nbsp;&nbsp;
    <a href="{% url 'users:login' %}"> || 로그인 || </a>
    &nbsp;&nbsp;
    <a href="{% url 'users:register' %}"> || 회원가입 || </a>
    {% endif %}

</div>